.cards-noticia {
    > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;

        @media (width >=600px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (width >=900px) {
            grid-template-columns: repeat(3, 1fr);
        }

        > li {
            background-color: var(--background-color);
            overflow: hidden;
            position: relative;
            height: 311px;
            border-radius: 8px;
            img {
                width: auto;
                height: 100%;
                object-fit: cover;
                display: block;
            }

            .cards-noticia-card-image {
                line-height: 0;
                overflow: hidden;
                height: 100%;
            }

            .cards-noticia-card-body {
                padding: 12px;
                gap: 12px;
                font-family: 'DM Sans', sans-serif;
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: rgba(255, 255, 255, 0.8);
                height: 124px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                p {
                    margin: 0;
                    font-size: 18px;
                    line-height: 22px;
                    color: #1e1e1e;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    height: auto;
                    overflow: hidden;
                    box-sizing: border-box;
                    text-overflow: ellipsis;
                }

                .button-container {
                    margin: 0;
                }

                a.button {
                    display: inline-flex;
                    align-items: center;
                    gap: 4px;
                    color: #0055a0;
                    text-decoration: solid underline;
                    font-size: 16px;
                    line-height: 22px;
                    text-decoration: underline;
                    font-family: var(--madrid-font);
                    background-color: transparent;
                    border: none;
                    border-radius: 0;
                    padding: 0;
                    margin: 0;
                    white-space: normal;
                    font-weight: normal;

                    &::after {
                        content: '';
                        background-image: url('/icons/right-arrow.svg');
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        width: 16px;
                        height: 16px;
                        display: inline-block;
                    }

                    &:hover,
                    &:focus {
                        color: #003d73;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}
